<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>${env.USERNAME}</id>
	    <username>username</username>
            <password>password</password>
        </server>
</servers>

<mirrors>
	    <mirror>
		          <id>${env.USERNAME}</id>
				        <name>PlanetMirror Australia</name>
						      <url>http://downloads.planetmirror.com/pub/maven2</url>
							            <mirrorOf>central</mirrorOf>
									        </mirror>
											  </mirrors>
</settings>
